<section>

  <h2>Experiencia</h2>

  <table>
                <thead>
                  <tr>
                    <th>Periodo</th>  
                    <th>Empresa</th>  
                    <th>Puesto</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2022-2023</td>
                    <td>Restaurante las pergolas</td>
                    <td>Mesero</td>
                  </tr>
                  <tr>
                    <td>2024-2025</td>
                    <td>Restaurante las pergolas</td>
                    <td>Supervisor</td>
                  </tr>
                  <tr>
                    <td>2024</td>
                    <td>Liceo Mixto San Mateo</td>
                    <td>Auxiliar de catedrático</td>
                  </tr>
                </tbody>
  </table>
</section>


<h2>Experiencia</h2>

<a routerLink="jobs">Trabajos</a> |
<a routerLink="studies">Estudios</a>

<hr>

<router-outlet></router-outlet>
