  
            <h2>Cursos Ganados</h2>
            <ol>
                <li>Global Management and Entrepreneurship 1</li>
                <li>User Experience</li>
                <li>Introducción a la Matemática</li>
                <li>Programación Digital</li>
                <li>Programación 1</li>
                <li>Matemáticas 101</li>
                <li>Economía 1</li>
                <li>Razonamiento Crítico</li>
                <li>Evolution of Computing</li>
                <li>Liderazgo</li>
                <li>Asesoría Lingüística</li>
                <li>Programación de Dispositivos Electrónicos</li>
                <li>Economía 2</li>
                <li>Global Management and Entrepreneurship 2</li>
                <li>Asesoría Lingüística</li>
                <li>Matemática Discreta Aplicada</li>
                <li>Cálculo Diferencial</li>
                <li>Programación 2</li>
                <li>Introducción al Derecho</li>
                <li>Accounting-Based Decision Making</li>
            </ol>