    <section id="experiencia" class="section">
      <h2>Experiencia Laboral</h2>
      <div class="table-actions">

      </div>

      <div class="table-wrap">
        <table id="miTabla" class="table">
          <thead>
            <tr><th>Periodo</th><th>Empresa</th><th>Puesto</th></tr>
          </thead>
          <tbody>
            <tr><td>2022-2023</td><td>Restaurante Las Pérgolas</td><td>Mesero</td></tr>
            <tr><td>2024-2025</td><td>Restaurante Las Pérgolas</td><td>Supervisor</td></tr>
            <tr><td>2024</td><td>Liceo Mixto San Mateo</td><td>Auxiliar de catedrático</td></tr>
          </tbody>
        </table>
      </div>
    </section>