            <section id="educacion">
              <h2>Educación</h2>

              <table>
                <caption>Historial Académico y títulos</caption>
                <thead>
                  <tr>
                    <th>Año</th>
                    <th>Institución</th>
                    <th>Título obtenido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2025</td>
                    <td>Universidad Francisco Marroquín</td>
                    <td>Título de Liderazgo</td>
                  </tr>
                  <tr>
                    <td>2024</td>
                    <td>Liceo Mixto San Mateo</td>
                    <td>Bachiller en Ciencias de la Computación</td>
                  </tr>
                  <tr>
                    <td>2022</td>
                    <td>Liceo Mixto San Mateo</td>
                    <td>Título de Nivel Básico</td>
                  </tr>
                  <tr>
                    <td>2019</td>
                    <td>Liceo Mixto San Mateo</td>
                    <td>Título de Nivel Primaria</td>
                  </tr>
                  <tr>
                    <td>2024</td>
                    <td>Olimpiada Nacional de las Ciencias</td>
                    <td>Título de Participación</td>
                  </tr>
                </tbody>
              </table>
            </section>
<h3>Lista de Estudios</h3>
<ul>
  <li>Ingeniería en Sistemas</li>
  <li>Bachillerato en Computación</li>
</ul>